body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 
    box-sizing: border-box;
}

.wrapper{
    max-width: 960px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    padding-top:50px;
}

.responsive{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.num{
    width: 50px;
    height: 50px;
    text-align: center;
}

.tile{
    width: 50px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

.tile[datastate='tbd']{
    border-style: solid;
    border-color: '#878a8c';
}

.tile[datastate='present']{
    border-style: none;
    color: #ffffff;
    background-color: #c9b458;
}

.tile[datastate='correct']{
    border-style: none;
    color: #ffffff;
    background-color: #6aaa64;
}

#target{
    width: 70px;
    height: 50px;
    text-align: center;
}

#form{
    /* margin:auto; 
    width:100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

#solution{
    margin: auto;
    padding: 10px;
    resize: none;
}

#wordList{
    margin: auto;
    padding: 10px;
    resize: none;
    text-transform: uppercase;
    white-space: pre;
}

.formRow{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.number{
    padding: 2px;
}

.letter{
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.colourPicker{
    width: 50px;
    height: 20px;
}

.button{
    padding: 5px;
}

#wordle{
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
    margin-left: 50px;
}

.formTitle{
    width:min-content; 
    text-align:center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}